@model MVC121.Areas.Administrator.Models.DownLoadFileInformation

@{
    ViewBag.Title = "ویرایش اطلاعات فایل";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}


<img src="~/Areas/Administrator/img/download_s.png" alt="category" />
<hr />

<h2>ویرایش اطلاعات فایل</h2>


@using (Html.BeginForm("Edit", "DownLoadFileInformations", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>آپلود و دانلود</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FileID)

        <div class="form-group">
            @Html.LabelFor(model => model.FilePathName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Upload("UploadFile")
                @Html.ValidationMessageFor(model => model.FilePathName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVIP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsVIP)
                    @Html.ValidationMessageFor(model => model.IsVIP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPaymentUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPaymentUser)
                    @Html.ValidationMessageFor(model => model.IsPaymentUser, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceFile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ویرایش اطلاعات فایل" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به صفحه مدیریت فایل ها", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
