@model MVC121.Areas.Administrator.Models.Admin

@{
    ViewBag.Title = "حذف کاربر ارشد ";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<hr />

<img src="~/Areas/Administrator/img/admin_s.png" alt="admin" />

<h2 style="font-family:IranNastaliq;font-size:xx-large">حذف کاربر ارشد</h2>
<h4>@Model.Name</h4>

<h3 style="font-family:IranNastaliq;font-size:xx-large">آیا از حذف این مطلب اطمینان دارید ؟</h3><div>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licence1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licence1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licence2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licence2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licence3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licence3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fav1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fav1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fav2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fav2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fav3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fav3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div style="font-family:IranNastaliq;font-size:xx-large">
            <input type="submit" value="Delete" class="btn btn-default" /> &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("بازگشت به صفحه مدیریت کاربران ارشد", "Index")
        </div>
    }
</div>
