@model IEnumerable<MVC121.Areas.Administrator.Models.Admin>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<hr />

<img src="~/Areas/Administrator/img/admin_s.png" alt="admin" />


<h2 style="font-family:IranNastaliq;font-size:xx-large">صفحه مدیریت کاربران ارشد</h2>

<p style="font-family:IranNastaliq;font-size:xx-large">
    @Html.ActionLink("ایجاد کاربر ارشد جدید", "Create")
</p>
<table class="table">
    <tr style="font-family:IranNastaliq;font-size:xx-large">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licence1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prof1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fav1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licence1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prof1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fav1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("جزئیات", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>