@model MVC121.Areas.Administrator.Models.Post

@{
    ViewBag.Title = "حذف مطلب";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<img src="~/Areas/Administrator/img/recycle_bin.png" alt="category" />
<hr />

<h2>حذف مطلب</h2>
<h4>@Model.Name</h4>

<h3>آیا از حذف این مطلب اطمینان دارید ؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCategory.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCategory.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoetryWriter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoetryWriter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullBody)
        </dt>

        @{string strFullBody = Model.FullBody; }
        <dd style="font-family:IranNastaliq;font-size:xx-large">
            <textarea> @HtmlRemoval.UnHtml(strFullBody)</textarea>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCommentable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCommentable)
        </dd>

        <dt >
            <img src="~/Uploads/@Model.Image" width="121" height="121" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
    <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف مطلب" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به صفحه مدیریت مطالب", "Index")
        </div>
    }
</div>
